@font-face {
    font-family: 'Makinas';
    src: url(./Makinas-Scrap-5.otf);
}

body {
    padding: 0;
    margin: 0
}
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 100%;
}
#unity-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 100%;
}

    #unity-container.unity-desktop {
        position: absolute;
        width: 100%;
        height: 100%;
    }


    #unity-container.unity-mobile {
        width: 50%;
        height: 50%
    }

#unity-canvas {
    background: #231F20;
    position: absolute;
    width: 100%;
    height: 100%;
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url('unity-logo-dark.png') no-repeat center;
}

#unity-progress-bar-empty {
    width: 100%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

#unity-footer {
    position: absolute
}

.unity-mobile #unity-footer {
    display: none
}

#unity-webgl-logo {
    float: left;
    width: 204px;
    height: 38px;
    background: url('webgl-logo.png') no-repeat center
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px;
}

#unity-fullscreen-button {
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}

#hand-canvas {
    position:absolute;
    width: 30%;
    height: 27%;
    left: 67%;
    top:69%;
}
#puppetvideo{
    position: absolute;
    width: 100%;
    height: 100%;
}
.output_canvas{
    -webkit-transform: rotateY(180deg);
}

#puppeimg{
    position: absolute;
    z-index: 2;
}
.btn,
a.btn,
button.btn {
    font-family: 'Makinas';
  line-height: 3;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transform: scale(0.9);
  transform-origin:0% 0;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  background-color: #ffffff00;
  color          : #ffffff;            /* 文字の色 */
  font-size      : 2.4rem;               /* 文字のサイズ */
  letter-spacing : 0.4rem;                /* 文字間 */
  text-shadow    : 
       0.2rem  0.2rem 0.2rem #000000,
      -0.2rem  0.2rem 0.2rem #000000,
       0.2rem -0.2rem 0.2rem #000000,
      -0.2rem -0.2rem 0.2rem #000000,
       0.2rem  0px 0.2rem #000000,
       0px  0.2rem 0.2rem #000000,
      -0.2rem  0px 0.2rem #000000,
       0px -0.2rem 0.2rem #000000;
}
a.btn--red.btn--cubic {
    border-bottom: 5px solid #9f000d00;
}
  
a.btn--red.btn--cubic:hover {
    margin-top: 3px;
    border-bottom: 2px solid #9f000d00;
}
  
a.btn--radius {
    border-radius: 100vh;
}
#howtoplay{
    line-height: 1.3;
    position: absolute;
    width: 270px;
    height: 60px;
    left: 60%;
    top: 75%;
    z-index: 2;
}
#start{
    line-height: 1.5;
    position: absolute;
    width: 180px;
    height: 60px;
    left: 68%;
    top: 57%;
    z-index: 2;
}
#back{
    line-height: 1.5;
    position: absolute;
    width: 90px;
    height: 50px;
    left: 80%;
    top: 5%;
    z-index: 2;
}
  #lisence{
    font-family: 'Makinas';
    position: absolute;
    width: 250px;
    height: 20px;
    left: 10%;
    top: 94.8%;
    z-index: 2;
    transform: scale(1.0);
    transform-origin:0% 0;
}