@font-face {
    font-family: 'Makinas';
    src: url(./Makinas-Scrap-5.otf);
}

body {
    padding: 0;
    margin: 0
}
#container {
    position: absolute;
    width: 100%;
    height: 100%;
}
#unity-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

    #unity-container.unity-desktop {
        position: absolute;
        width: 100%;
        height: 100%;
    }


    #unity-container.unity-mobile {
        width: 50%;
        height: 50%
    }

#unity-canvas {
    background: #231F20;
    position: absolute;
    width: 100%;
    height: 100%;
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url('unity-logo-dark.png') no-repeat center;
}

#unity-progress-bar-empty {
    width: 100%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

#unity-footer {
    position: absolute
}

.unity-mobile #unity-footer {
    display: none
}

#unity-webgl-logo {
    float: left;
    width: 204px;
    height: 38px;
    background: url('webgl-logo.png') no-repeat center
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px;
}

#unity-fullscreen-button {
    float: right;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}

#hand-canvas {
    position:absolute;
    width: 30%;
    height: 27%;
    left: 67%;
    top:69%;
}
#puppetvideo{
    position: absolute;
    width: 100%;
    height: 100%;
}
.output_canvas{
    -webkit-transform: rotateY(180deg);
}
#howtoplay{
    line-height: 4;
    position: absolute;
    width: 17%;
    height: 10%;
    left: 65%;
    top: 70%;
    z-index: 2;
    font-size: 170%;
}
#start{
    line-height: 4;
    position: absolute;
    width: 10%;
    height: 10%;
    left: 70%;
    top: 50%;
    z-index: 2;
    font-size: 160%;
}
#back{
    position: absolute;
    width: 10%;
    height: 10%;
    right: 0%;
    top: 0%;
    z-index: 2;
}
#puppeimg{
    position: absolute;
    z-index: 2;
}
.btn,
a.btn,
button.btn {
    font-family: 'Makinas';
  font-size: 2rem;
  font-weight: 700;
  line-height: 3;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}
a.btn--red.btn--cubic {
    border-bottom: 5px solid #9f000c;
  }
  
  a.btn--red.btn--cubic:hover {
    margin-top: 3px;
    border-bottom: 2px solid #9f000c;
  }
  
  a.btn--radius {
    border-radius: 100vh;
  }
  
  .fa-position-right {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
  }
  #lisence{
    font-family: 'Makinas';
    position: absolute;
    left: 10%;
    top: 94.8%;
    z-index: 2;
}